src/main/mule/endpoints/post-upload-report.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">
	<flow name="post:\upload-report:multipart\form-data:student-report-service-config" doc:id="8dd5f4fc-7311-4a2f-8774-d162788874f8" >
		<logger level="INFO" doc:name="Logger" doc:id="749bd402-d756-4940-a0df-0e1a5c3fd229" message='#["Request received to student-report-service with co-relation id "++ correlationId]' />
		<ee:transform doc:name="Transform Message" doc:id="db076093-5c5b-46c2-b366-fdfb54f8704e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.parts.file.content]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="fileName" ><![CDATA[payload.parts.fileName.content]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<sftp:write doc:name="Write" doc:id="6c097fa3-652c-4dd4-a683-609f039a3052" config-ref="SFTP_Config" path='#[vars.fileName]' >
			<reconnect />
		</sftp:write>
		<ee:transform doc:name="Transform Message" doc:id="3e75a818-7da0-4c19-952e-297a6685f313" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	statusCode:201,
	message : "file upload successful to SFTP server."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
  <on-error-propagate type="SFTP:ACCESS_DENIED">
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
          output application/json
          var timestamp = now() as String { format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ" }
          ---
          {
            statusCode: 401,
            error: error.errorType.identifier,
            errorMessage: error.description,
            correlationId: correlationId,
            timestamp: timestamp
          }
        ]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </on-error-propagate>

  <on-error-propagate type="EXPRESSION">
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
          output application/json
          var timestamp = now() as String { format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ" }
          ---
          {
            statusCode: 500,
            error: error.errorType.identifier,
            errorMessage: error.description,
            correlationId: correlationId,
            timestamp: timestamp
          }
        ]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="24cf2c87-15e7-4875-931d-68028d1a2a3b" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="b72fb717-475c-4b54-a1d7-f9c6921a4845" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
          output application/json
          var timestamp = now() as String { format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ" }
          ---
          {
            statusCode: 500,
            error: error.errorType.identifier,
            errorMessage: error.description,
            correlationId: correlationId,
            timestamp: timestamp
          }
        ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>

</error-handler>

	</flow>
</mule>
